@model HW5.DTO.Responses.OrderFullResponseDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@if(Model!= null){
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analysis.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analysis.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analysis.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analysis.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analysis.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analysis.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analysis.Group.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analysis.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analysis.Group.Temp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analysis.Group.Temp)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
}